<div>

  <button>
    <a href="/movies">Go back</a>
  </button>

  <div>
    <img src="{{details.image}}" alt="movies-select" width="300px"/>
    <h2>{{details.title}}</h2>
    <h3>{{details.director}}</h3>
    <h5>{{details.stars}}</h5>
    <ul>
      <li>each star</li>
    </ul>
    <p>{{details.description}}</p>
    <br />
    <p>{{details.showtimes}}</p>

  </div>

</div>