<div>

  <button>
    <a href="/movies">Go back</a>
  </button>

  <div>
    <img src="{{details.image}}" alt="movie-select" width="200px" />
    <h2>{{details.title}}</h2>
    <h3>Director: {{details.director}}</h3>
    <h5>Stars</h5>
    <ul>

      {{#each details.stars}}

        <li>{{this}}</li>

      {{/each}}
    </ul>

    <p>{{details.description}}</p>
    <br />
    {{!--<p>{{details.showtimes}}</p> --}}

  </div>

</div>